#SeriesFollowing {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px; 
    border-radius: 4px;
    background: #6c6c6c;
}

#SeriesFollowing h1 {
    text-align: center;
    padding-top: 15px;
    color: white;
}

#show {
    float:left;
    margin-left: 15px;
    padding: 10px;
    padding-left: 15px;
    padding-bottom: 15px;
    width: 93px;
    height: 175px;
    margin-bottom: 5px;
    border-radius: 5px;
    list-style: none;
    font-size: 15px;
    text-align: center;
}

#show li {
    display: inline-block;
    height: 140px;
    float: left;
    text-align: center;
}

#show:hover {
    border-radius: 5px;
    background: #5d7fd8;
}

#show li img {
    
    float: left;
    width: 93px;
    height: 140px;
}

#show a{
    text-decoration: none;
    display: inline-block;
}

#nomeSerie {
    color: #fff;
}

#followButton {
    width: 90px; height: 25px; background-color: #cc0000; color: #ffffff;
        
}

h2 {
    text-align: center;
    font-family: Arial;
    font-size: 13px;
}

p {
    font-size: 12px;
}

.unwatched {
    font-size: 12px;
    opacity: 0.7;
}

.totalPercentage {
    left: 75px;
    top: -60px;
    position: relative;
    width: 800px;
    height: 30px;
    border: 1px solid white;
}

#myShow {
    margin-top: 80px;
    height: 100%;
}

.italicText {
    font-style: italic;
    font-size: 0.9em;
}

.whiteText {
    color: white;
}

.totalsPlacing {
    position: absolute;
    top: 35px;
    left: 0;
}

.percentPlacing {
    position: absolute;
    right: 5px;
    top: 8px;
}

.unwatchedEps {
    
}